<!DOCTYPE html>
<html lang="en">

<head>
	<title>MisLucas</title>
</head>

<body style="background-color:#66698B;">
	<h1>Lucas al toque ;)</h1>

    <p>¿Eres nuevo? ¡Regístrate!</p>

	<form id="form">

		<!--Name-->
		<div>
			<label for="name">Name</label>
			<input type="text" name="name" id="name" maxlength="32" placeholder="Nombre y apellido" required>
		</div>

		<!--Email-->
		<div>
			<label for="email">Email</label>
			<input type="email" name="email" id="email" maxlength="32" placeholder="ejemplo@ejemplo.com" required>
		</div>

        <!--Password-->
		<div>
			<label for="password">Password</label>
			<input type="password" name="password" id="password" maxlength="32" placeholder="Incluye caracteres especiales para más seguridad" required>
		</div>

        <!--Total-->
		<div>
			<label for="total">Monto inicial</label>
			<input type="number" name="total" id="total" maxlength="32" placeholder="Ingresa con cuánto dinero quieres empezar: " required>
		</div>

        <input type="submit" value="Enviar">
        
	</form>


</body>

</html>



  